<!-- <p>This is the admin pannel</p> -->

<form action="{{ url_for('admin')}}" method="POST">
    <h4>Name</h4>
    <input type="text" name="name" placeholder="enter your name">
    <h4>Students_Id</h4>
    <input type="text" name="std_id" placeholder="enter your students">
    <h4>Hall of Affiliation</h4>
    <!-- <input type="text" name="hall_of_affiliation" placeholder="enter your Hall"> -->
    <select name="hall_of_affiliation" aria-placeholder="Select your hall">
        <option value="Adehye">Adehye</option>
        <option value="Oguaa">Oguaa</option>
        <option value="ATL">ATL</option>
        <option value="KNH">KNH</option>
        <option value="Valco">Valco</option>
        <option value="Casford">Casford</option>
        <option value="SRC">SRC</option>
        <option value="SUPERANNUATION">Superannuation</option>
    </select>
    <h4>Current Residence</h4>
    <select name="res" aria-placeholder="Select your residence">
        <option value="Adehye">Adehye</option>
        <option value="Oguaa">Oguaa</option>
        <option value="ATL">ATL</option>
        <option value="KNH">KNH</option>
        <option value="Valco">Valco</option>
        <option value="Casford">Casford</option>
        <option value="SRC">SRC</option>
        <option value="SUPERANNUATION">Superannuation</option>
        <option value="SSNIT">SSNIT</option>
        <option value="Kwaprow">Kwaprow</option>
        <option value="Apewosika">Apewosika</option>
        <option value="Amamoma">Amamoma</option>
        <option value="Ayensu">Ayensu</option>
    </select>

    <h4>Wing</h4>
    <!-- <input type="text" name="wing" placeholder="enter your students"> -->
    <select name="wing" aria-placeholder="Select your Wing">
        <option value="Organizers">Organizers</option>
        <option value="Evangelism">Evangelism</option>
        <option value="Bible_Stdy">Bible Study And Prayer Group</option>
        <option value="Sch.Cord">Schools Coordinator</option>
        <option value="Jewels">Jewels</option>
        <option value="Welfare">Welfare</option>
    </select>
    <br>
    <input type="submit" value="Add">

</form>