<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<link rel="stylesheet" href="../static/vstyle.css" />

<body>
    <div class="admin-container">
        <p>
            <h1 style="font-size:90px;">Oops!</h1>
        </p>
        <h3>It appears you have already voted</h1>
            <h4>Not So ?</h4>
            <h4><a href="/logout">Contact the Admin</h4></a>
            <div style="display: flex; flex: 1; justify-content: center; align-items: center">

                <button><a href="/logout">Go Back</a></button>
            </div>
    </div>
</body>

</html>