<!-- <p>This is the admin pannel</p> -->

<form action="/exect" method="POST">
        <h4>Name</h4>
        <input type="text" name="name" placeholder="enter your name">
        <h4>Position</h4>
        <input type="text" name="position" placeholder="enter your students">
        <h4>Votes</h4>
        <input type="text" name="votes" placeholder="enter your students">
        <h3>Image</h3>
        <input type="file" name="image" placeholder="Upload an image">
        <input type="submit" value="Submit" id="input-submit">

    </form>