<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="../static/vstyle.css" />
<body>
  <div class="svg-container"> 
    <h1 style="color:rgb(221, 0, 0)">404 ERROR</h1>
    <h4 style="color:rgb(221, 0, 0)">What you dey search for here</h4>
    <h1>Please ask the admin</h1>
    <button type="submit">Click to Logout </button>
</div>
</body>
</html>